!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Miniblog1
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    - flash.each do |key, message|
      - class_name = case key.to_sym
      - when :notice then 'alert alert-success'
      - when :alert then 'alert alert-danger'
      - else 'alert alert-info'
      %div{:class => class_name}
        = message
    = yield
